scripts/temp/**
**/build*/
*.swp
*.DS_Store
# Prerequisites
*.d
.vscode
**/obj*/
**/log*/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
!third_party/**
*.lib

# Executables
*.exe
*.out
*.app
